.footer {
    margin: 0 auto;
    padding: 14px;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }