html{
	scroll-behavior: smooth;
}


body{
	margin: 0 auto;
	background-color: #FFF5D1;
}


.Vente{
	margin-top: 140px;
	margin-left: 10px;
	margin-bottom:30px;
}

.Vente .Titre{
	color: black;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 1px;

}
.Vente .Titre p{
	padding-bottom: 0px;
	height: 14px;
}

.Vente .dessin{
	width: 80px;
	height: 9px;
	background-color: orange;
	margin-top:0px ;
	border-radius: 5px;
}

main{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-basis: 200px;
	font-family: cursive;

}

.Boite1{
	padding: 8px;
	display: flex;
	flex-direction: column;
	border-radius: 17px;
	
}

.Boite1 .image{
	width: 300px;
	height: 300px;
	background-image: url(../images/chauffe-tasse-biscuit-usb.jpg);
	background-size: cover;
	background-position:left ;
}

.Boite1 .titre{
	margin-top: 10px;
	height: 15px;
	width: 400px;
	
}

.Boite1 .titre p{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	opacity: 2;
	
}

.Boite1 .description{
	width: 400px;
	height: 260px;
	margin-top: 7px;
}

.Boite1 .Achat{
	margin-bottom: 30px;
	margin-left:230px;
	background-color: rgb(49, 49, 49);
	width: 30%;
	height: 10%;
	border-radius: 30px;
	margin-top: 2px;
}

.Boite1 .Achat p{
	text-align: center;
}

.Tendance {
	text-align: center;
	font-weight: bold;
	border-radius: 30px;
	font-size: 17px;
	opacity: 2;
}

.Achat a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.Boite2{
	margin: 18px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 17px;
	
}

.Boite2 .image{
	width: 390px;
	height: 300px;
	background-image: url(../images/coque-iphone-4-decapsuleur-1.jpg);
	background-size: cover;
	background-position:bottom ;
	
}

.Boite2 .titre{
	margin-top: 10px;
	height: 15px;
	width: 400px;
	
}

.Boite2 .titre p{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	opacity: 2;
	
}

.Boite2 .description{
	width: 400px;
	height: 260px;
	margin-top: 7px;
}

.Boite2 .Achat{
	margin-bottom: 30px;
	margin-left:230px;
	background-color: rgb(49, 49, 49);
	width: 30%;
	height: 10%;
	border-radius: 30px;
	margin-top: 2px;
}

.Boite2 .Achat p{
	text-align: center;
}



.Boite3{
	margin: 18px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 17px;

}

.Boite3 .image{
	width: 390px;
	height: 300px;
	background-image: url(../images/coque-iphone-4-decapsuleur-1.jpg);
	background-size: cover;
	background-position:center ;
	
	
}

.Boite3 .titre{
	margin-top: 10px;
	height: 15px;
	width: 400px;
	
}

.Boite3 .titre p{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	opacity: 2;
	
}

.Boite3 .description{
	width: 400px;
	height: 260px;
	margin-top: 7px;
}

.Boite3 .Achat{
	margin-bottom: 30px;
	margin-left:230px;
	background-color: rgb(57, 57, 57);
	width: 30%;
	height: 10%;
	border-radius: 30px;
	margin-top: 2px;
}

.Boite3 .Achat p{
	text-align: center;
}

/*Reset CSS*/
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  h1 {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  nav {
	background-color: #333;
  }
  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  nav ul li {
	display: inline-block;
	position: relative;
  }
  
  nav ul li a {
	color: #fff;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
  }
  
  nav ul li a:hover {
	background-color: #555;
  }
  
  nav ul li ul.sous {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
  }
  
  nav ul li:hover ul.sous {
	display: block;
  }
  
  nav ul li ul.sous li a {
	color: #fff;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
  }
  
  nav ul li ul.sous li a:hover {
	background-color: #555;
  }

  